attrs
automat
blinker
bs4
certifi
chardet
colorama
configobj
constantly
cryptography
datetime
dbus-python
distro
distro-info
entrypoints
flask-cors
gunicorn
hyperlink
idna
importlib-metadata
incremental
jsonpatch
jsonpointer
jsonschema
launchpadlib
more-itertools
netifaces
oauthlib
pexpect
pip-chill
plotly
prophet
psycopg2-binary
pyasn1
pyasn1-modules
pygobject
pyhamcrest
pyjwt
pymacaroons
pynacl
pyopenssl
pyrsistent
pyserial
python-debian
pyyaml
requests
requests-unixsocket
service-identity
simplejson
sos
ssh-import-id
systemd-python
twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
zipp
